<?xml version="1.0"?>

<launch>

    <node pkg="path_planning_monitor" name="path_planning_monitor_node" type="path_planning_monitor_node" output="screen"> <!-- launch-prefix="xterm -e gdb - -args"> -->

    </node>

    <node pkg="path_planning" name="path_planning_node" type="path_planning_node" output="screen">

    </node>

    <node pkg="trajectory_generator" name="trajectory_generator_node" type="trajectory_generator_node" output="screen">

    </node>

    <node pkg="odometry" name="odometry_node" type="odometry_node" output="screen">

    </node>

    <node pkg="controller" name="controller_node" type="controller_node" output="screen">

    </node>

<!--    <node pkg="test" name="test_node" type="test_node" output="screen">

    </node>-->

</launch>
